<div class="buscaralimento">
  <h2>RECETA - ALIMENTOS</h2>
  <p>Cantidad de receta - alimentos: {{getCantidad()}}</p>
  <label id="labelnombrealimento" class="form-label"> Buscar receta y alimentos: </label> 
  <app-recetaalimento-buscar></app-recetaalimento-buscar>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element?.idReceta_Alimento }}</td>
  </ng-container>
  <ng-container matColumnDef="receta">
    <th mat-header-cell *matHeaderCellDef>Receta</th>
    <td mat-cell *matCellDef="let element">{{ element?.receta.tituloReceta }}</td>
  </ng-container>
  <ng-container matColumnDef="alimento">
    <th mat-header-cell *matHeaderCellDef>Alimento</th>
    <td mat-cell *matCellDef="let element">{{ element?.alimento.nombreAlimento }}</td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="basic"
            [routerLink]="['edicion', element.idReceta_Alimento]">Actualizar</button>
        <button mat-raised-button color="warn" (click)="confirmar(element.idReceta_Alimento)">Eliminar</button>
    </td>
  </ng-container>
 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
    routerLink="/receta_alimentos/nuevo">
    <mat-icon>plus_one</mat-icon>
</button>