<div class="buscartipousuario">
  <h2>TIPOS DE USUARIO</h2>
  <p>Cantidad de tipos de usuario: {{getCantidad()}}</p>
  <label id="labelnombretipousuario" class="form-label"> Buscar tipo de usuario: </label> 
  <app-tipousuario-buscar></app-tipousuario-buscar>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element?.idTipoUsuario }}</td>
  </ng-container>

  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let element">{{ element?.nombreTipoUsuario }}</td>
  </ng-container>


  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
        [routerLink]="['edicion', element?.idTipoUsuario]">Actualizar</button>
        <button mat-raised-button color="warn" (click)="confirmar(element.idTipoUsuario)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="example-button-container">
  <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
    routerLink="/tipo_usuarios/nuevo">
    <mat-icon>plus_one</mat-icon>
  </button>
</div>