<div class="buscarpregunta">
  <h2>PREGUNTAS</h2>
<p>Cantidad de preguntas: {{getCantidad()}}</p>
  <label class="form-label">  Buscar pregunta: </label> 
  <app-pregunta-buscar></app-pregunta-buscar>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>

    <td mat-cell *matCellDef="let element">{{ element?.idPregunta }}</td>
  </ng-container>

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Pregunta</th>
    <td mat-cell *matCellDef="let element">{{ element?.tituloPregunta }}</td>
  </ng-container>

  <ng-container matColumnDef="contenido">
    <th mat-header-cell *matHeaderCellDef>Contenido</th>
    <td mat-cell *matCellDef="let element">{{ element?.contenidoPregunta }}</td>
  </ng-container>

  <ng-container matColumnDef="Usuario">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let element">{{ element?.usuario.nombreUsuario }}</td>
  </ng-container>

  <ng-container matColumnDef="respuesta">
    <th mat-header-cell *matHeaderCellDef>Respuesta</th>
    <td mat-cell *matCellDef="let element">{{ element?.respuestaPregunta }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="basic"
            [routerLink]="['edicion', element.idPregunta]">Actualizar</button>
        <button mat-raised-button color="warn" (click)="confirmar(element.idPregunta)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
    routerLink="/preguntas/nuevo">
    <mat-icon>plus_one</mat-icon>
</button>