<div class="buscardieta">
  <h2>DIETAS</h2>
  <p>Cantidad de dietas: {{getCantidad()}}</p>
  <label class="form-label"> Buscar dieta: </label> 
  <app-cita-buscar></app-cita-buscar>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element?.idDieta }}</td>
  </ng-container>

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Titulo</th>
    <td mat-cell *matCellDef="let element">{{ element?.tituloDieta }}</td>
  </ng-container>

  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let element">{{ element?.usuario.nombreUsuario }}</td>
  </ng-container>
  <ng-container matColumnDef="nutricionista">
    <th mat-header-cell *matHeaderCellDef>Nutricionista</th>
    <td mat-cell *matCellDef="let element">{{ element?.nutricionista.nombreUsuario }}</td>
  </ng-container>

  <ng-container matColumnDef="Contenido">
    <th mat-header-cell *matHeaderCellDef>Contenido</th>
    <td mat-cell *matCellDef="let element">{{ element?.contenidoDieta }}</td>
  </ng-container>

  <ng-container matColumnDef="Vigente">
    <th mat-header-cell *matHeaderCellDef>Vigente</th>
    <td mat-cell *matCellDef="let element">{{ element?.vigente }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="basic"
            [routerLink]="['edicion', element.idDieta]">Actualizar</button>
        <button mat-raised-button color="warn" (click)="confirmar(element.idDieta)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon"
    routerLink="/dietas/nuevo">
    <mat-icon>plus_one</mat-icon>
</button>