<div>
  <div class="header">
    <h1 class="title">TRICKFIT</h1>
    <menu class="menu">
      <ul>
        <li class="indice">
          <a routerLink="/alimentos">Alimentos</a>
          <a routerLink="/usuarios">Usuarios</a>
          <a routerLink="/planes">Planes</a>
          <a routerLink="/recetas">Recetas</a>
          <a routerLink="/ejercicios">Ejercicios</a>
          <a routerLink="/bancos">Bancos</a>
          <a routerLink="/citas">Citas</a>
          <a routerLink="/suscripciones">Suscripciones</a>
          <a routerLink="/preguntas">Preguntas</a>
          <a routerLink="/tipo_usuarios">Tipo Usuario</a>
          <a routerLink="/rutinas">Rutina</a>
          <a routerLink="/rutina_ejercicios">Rutina - Ejercicio</a>
          <a routerLink="/dietas">Dieta</a>
          <a routerLink="/dieta_recetas">Dieta - Receta</a>
          <a routerLink="/tarjetas"> Tarjeta</a>
          <a routerLink="/receta_alimentos"> Receta - Alimentos</a>
        </li>
      </ul>
    </menu>
  </div>
  <router-outlet></router-outlet>
</div>
