<div class="buscarreceta">
  <h2>RECETAS</h2>
  <p>Cantidad de recetas: {{getCantidad()}}</p>
  <label id="labelnombrereceta" class="form-label"> Buscar receta: </label> 
  
  <app-receta-buscar></app-receta-buscar>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element?.idReceta }}</td>
  </ng-container>

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Titulo</th>
    <td mat-cell *matCellDef="let element">{{ element?.tituloReceta }}</td>
  </ng-container>

  <ng-container matColumnDef="descrip">
    <th mat-header-cell *matHeaderCellDef>Descripcion</th>
    <td mat-cell *matCellDef="let element">{{ element?.descripReceta }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
        [routerLink]="['edicion', element?.idReceta]">Actualizar</button>
        <button mat-raised-button color="warn" (click)="confirmar(element.idReceta)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="example-button-container">

  <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
    routerLink="/recetas/nuevo">
    <mat-icon>plus_one</mat-icon>
  </button>
</div> 
