<div class="container">
    <h1>REGISTRAR DIETA</h1>
    
    <mat-form-field class="example-full-width">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Ingrese titulo de la dieta" [(ngModel)]="dieta.tituloDieta">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
        <mat-label>Informacion</mat-label>
        <textarea matInput [(ngModel)]="dieta.contenidoDieta" placeholder="Ingrese informacion sobre la dieta" [maxlength]="500"></textarea>
    </mat-form-field>
    <br>
    
    <mat-form-field class="example-full-width">
        <mat-label>Seleccione Usuario</mat-label>
        <mat-select [(value)]="idUsuarioSelec" required>
            <mat-option *ngFor="let u of listaUsuarios" [value]="u.idUsuario">
                {{u.nombreUsuario}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Seleccione Usuario</mat-label>
        <mat-select [(value)]="idNutricionistaSelec" required>
            <mat-option *ngFor="let u of listaUsuarios" [value]="u.idUsuario">
                {{u.nombreUsuario}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="warn" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="accent" routerLink="/dietas">Cancelar</button>
    </div>
    
